@import '../../../styles/variables.scss';

.header {
    width: inherit;
    height: 55px;
    background-color: $color-lightblue;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 40px;
    z-index: 1;
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: 3;

    &__logo {
        width: 190px;
        height: 55px;
        background-color: $color-navyblue;
        color: $color-white;
        font-weight: 400;
        line-height: 17px;
        padding: 20px;
        cursor: pointer;
    }

    &__title {
        font-weight: 400;
        font-size: 28px;
        line-height: 33px;
        color: $color-white;
        margin-left: 40px;
        margin-right: auto;
    }

    &__list {
        list-style: none;
        display: flex;
    }

    &__item {
       margin-right: 20px;
    }

    &__user {   
        width: 49px;
        height: 49px;
        border: 1px solid $color-white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin-right: 7px;
    }

    &__avatar {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    &__open {
        width: 16px;
        height: 16px;
        background: $color-white;
        border-radius: 5px;
        background-image: url('../../../assets/icons/down.svg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border: none;
        cursor: pointer;
    }
}