@import '~normalize.css';
@import './variables.scss';
@import './Profile.scss';
@import '../components/UI/AppIcon/AppIcon.scss';
@import '../components/UI/AppButton/AppButton.scss';
@import '../components/ProfileLayout/Header/Header.scss';
@import '../components/ProfileLayout/Nav/Nav.scss';
@import '../components/AppointmentCard/AppointmentCard.scss';

html,
body {
  padding: 0;
  margin: 0;
  color: $color-black;
  background-color: #E5E5E5;
  width: $desktop-width;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
