@import '~normalize.css';
@import './variables.scss';
@import './Profile.scss';
@import '../components/UI/AppIcon/AppIcon.scss';
@import '../components/UI/AppButton/AppButton.scss';
@import '../components/ProfileLayout/Header/Header.scss';
@import '../components/ProfileLayout/Nav/Nav.scss';
@import '../components/AppointmentCard/AppointmentCard.scss';
@import '../components/AppointmentList/AppointmentList.scss';

html,
body {
  padding: 0;
  margin: 0;
  width: $desktop-width;
  min-width: 960px;
  color: $color-black;
  background-color: #FCFCFC;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
