.profile {
    padding: 15px 60px 40px 20px;
    
    &__appointment {
        margin-top: 55px;
        margin-left: 190px;
        margin-bottom: 35px;
    }

    &__patient {
        margin-left: 190px;
    }
}