.records {
    padding: 15px 40px 20px 20px;

    &__breadcrumbs {
        margin-left: 52px;
        margin-bottom: 11px;
    }
    
    &__content {
        display: flex;
        justify-content: space-between;
        width: 1116px;
    }
}