//Colors
$color-navyblue: #003B72;
$color-lightblue: #50CAFF;
$color-blueberry: #7761FF;
$color-blueberry-light: #EBE7FF;
$color-white: #FFFFFF;
$color-black: #000000;

//Device
$desktop-width: 1366px;
